.C1Clipped-iframe.iframe-mobile {
    height: 620px;
}
.C1Clipped-iframe.iframe-tablet {
    height: 700px;
}
.C1Clipped-iframe.iframe-desktop {
    height: 475px;
}
.C1Clipped-iframe.iframe-widescreen {
    height: 500px;
}