





<!-- C1Clipped template -->
<div class="C1Clipped-template" hidden>
  <div class="container">
    <div id="clp-product-ad">
      <div class="row align-items-center pt-4 pb-4">
        <div class="col-lg-7 col-md-12 col-sm-12 left"> <img id="logoElement" alt="" src="{{c1clippedData.data.parameterValues['DE:Image path for logo']}}" class="logo pb-3">
          <h3 class="pb-1">{{c1clippedData.data.parameterValues['DE:Headline']}}</h3>
          <p class="pb-2">{{c1clippedData.data.parameterValues['DE:Sub-Headline']}}</p>
          <a href="{{c1clippedData.data.parameterValues['DE:CTA URL']}}" class="btn btn--default">{{c1clippedData.data.parameterValues['DE:CTA Text']}}</a>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-center right"> <img src="{{c1clippedData.data.parameterValues['DE:Image - 520 x 450']}}" alt="" class="pb-3 pt-3"> </div>
      </div>
    </div>
  </div>
</div>


<iframe class="C1Clipped-iframe" src="assets/html/C1Clipped.html"></iframe>

<div class="plain-text">
  <h4 class="mt-4 ml-4">Plain Text</h4>
  <div class="codeBox card card-body">
    <code>{{outputCode}}</code>
  </div>
  <button mat-flat-button class="copy-button1" (click)="onCopy('plain')" (click)="openSnackBar('Copied code!', '', 2000)" tooltip="Copy to clipboard" placement="bottom" hide-delay="0">
    <span><i class="fas fa-code"></i></span>
    <span class="copy-btn-txt"> Copy Code</span>
  </button>
  <button mat-flat-button class="copy-button2" (click)="onDownload('C1Clipped.html', 'html')" tooltip="Download html file" placement="bottom" hide-delay="0">
    <span><i class="fas fa-download"></i></span>
    <span class="copy-btn-txt"> Download Code</span>
  </button>
</div>

<div class="impex-file">
  <h4 class="mt-4 ml-4">Impex File</h4>
  <div class="codeBox card card-body">
    <code id="impex-code">
      <pre>
$contentCatalog = americanhotelContentCatalog
$contentCV = catalogVersion(CatalogVersion.catalog(Catalog.id[default = $contentCatalog]), CatalogVersion.version[default = Staged])[default = $contentCatalog:Staged]
$mediaContainer = media(qualifier, $contentCV);
$medias = medias(code, $contentCV);
$media = media(code, $contentCV);
$productCatalog = americanhotelProductCatalog
$productCV = catalogVersion(catalog(id[default = $productCatalog]), version[default = 'Staged'])[unique = true, default = $productCatalog:Staged]
$siteResource = jar:com.americanhotel.hybris.initialdata.constants.AmericanhotelInitialDataConstants&/americanhotelinitialdata/import/sampledata/contentCatalogs/$contentCatalog
$lang = en

UPDATE GenericItem[processor = de.hybris.platform.commerceservices.impex.impl.ConfigPropertyImportProcessor]; pk[unique = true]
$jarResourceCms = $config-jarResourceCmsValue





INSERT_UPDATE CMSParagraphComponent ; $contentCV[unique = true] ; uid[unique = true] ; onlyOneRestrictionMustApply[default='false'] ; name                          ; &componentRef    ; content[lang = $lang]

                              ;                           ; componentid   ;                                              ; component name ; componentid ; "
                              {{impexCode}}

"</pre>
    </code>
  </div>
  <button mat-flat-button class="impex-button1" (click)="onCopy('impex')" (click)="openSnackBar('Copied impex!', '', 2000)" tooltip="Copy to clipboard" placement="bottom" hide-delay="0">
    <span class="fas fa-code"></span>
    <span class="impex-btn-txt"> Copy Impex</span>
  </button>
  <button mat-flat-button class="impex-button2" (click)="onDownload('C1Clipped.impex', 'impex')" tooltip="Download impex file" placement="bottom" hide-delay="0">
    <span class="fas fa-download"></span>
    <span class="impex-btn-txt"> Download Impex</span>
  </button>
</div>
