.featuredBrands-iframe.iframe-mobile {
    height: 400px;
}
.featuredBrands-iframe.iframe-tablet {
    height: 400px;
}
.featuredBrands-iframe.iframe-desktop {
    height: 400px;
}
.featuredBrands-iframe.iframe-widescreen {
    height: 400px;
}