<!-- Image provided? -->
<div class="text-alignment mt-1 mb-3">
  <label for="text-align"><h5 class="text-primary mr-3">Image provided?</h5></label>
  <mat-radio-group [(ngModel)]="imageProvided">
    <mat-radio-button value="no">No</mat-radio-button>
    <mat-radio-button value="yes">Yes</mat-radio-button>
  </mat-radio-group>

  <!-- If no, image needed -->
  <div *ngIf="imageProvided=='no'">
    <label for="text-align">
      <h5 class="text-primary mr-3">Image needed</h5>
    </label>
    <select class="custom-select mb-1" style="width:300px">
      <option value="" disabled selected>Select needed</option>
      <option value="needed1">Needed 1</option>
      <option value="needed2">Needed 2</option>
    </select>
  </div>
  
  <!-- If yes, image type -->
  <div *ngIf="imageProvided=='yes'">
    <label for="text-align"><h5 class="text-primary mr-3">Image type</h5></label>
      <select class="custom-select mb-1" style="width:300px">
        <option value="" disabled selected>Select type</option>
        <option value="type1">Type 1</option>
        <option value="Lifestyle provided from server">Lifestyle provided from server</option>
    </select>
  </div>
</div>
  
<!-- Backgroung Image for D1 -->
<div class="background-form mb-3">
  <label for="Background"><h5 class="text-primary background-label1">Background Image</h5></label> 
  
  <!-- Sample background for D1/A1/email -->
  <button class="btn btn-outline-success ml-2" data-toggle="collapse" data-target="#sampleBg" tooltip="Click for of a list of background samples" placement="right" hide-delay="0">Sample</button>
  <div id="sampleBg" class="collapse">
    <div class="codeBox card card-body" style="border-color: hotpink; border-width: thin; width: 420px;">
      <h6 style="color:#cc03a0; cursor:default"><u>Background</u></h6>
      <h6 class="text-dark sample-bg-D1" (click)="onClickSample('bg', 'D1')" (mouseover)="bgBorder('D1')"><b>One-Third Banner (D1):</b> https://images.americanhotel.com/images/banners/8754_1888Mills_AD_D1_061719_bg.jpg</h6>
      <h6 class="text-dark sample-bg-A1Left" (click)="onClickSample('bg', 'A1Left')" (mouseover)="bgBorder('A1Left')"><b>Hero Banner (A1) <span class="text-success">TEXT ALIGNS LEFT</span> :</b> https://images.americanhotel.com/images/banners/8713_hunter_A1_widescreen_overlay.jpg</h6>
      <h6 class="text-dark sample-bg-A1Right" (click)="onClickSample('bg', 'A1Right')" (mouseover)="bgBorder('A1Right')"><b>Hero Banner (A1) <span class="text-danger">TEXT ALIGNS RIGHT</span> :</b> https://images.americanhotel.com/images/banners/8865_1888Mills_080619_widescreen.jpg?q=123</h6>
      <h6 class="text-dark sample-bg-email" (click)="onClickSample('bg', 'email')" (mouseover)="bgBorder('email')"><b>Email Banner: </b>https://images.americanhotel.com/images/emails/8743K_Inteplast_EML_061919_03.jpg</h6>
    </div>
  </div>

  <input class="form-control ad-field" type="text" [(ngModel)]="d1Data.imgURL" placeholder="URL" />
</div>

<!-- Logo -->
<div class="logo-form mb-3">
  <label for="Logo"><h5 class="text-primary">Logo</h5></label>

  <!-- Sample logo for D1/A1/email -->
  <button class="btn btn-outline-success ml-2" data-toggle="collapse" data-target="#sampleLogo" tooltip="Click for of a list of logo samples" placement="right" hide-delay="0">Sample</button>
  <div id="sampleLogo" class="collapse">
    <div class="codeBox card card-body" style="border-color: #08a4ec; border-width: thin; width: 420px;">
      <h6 style="color:#0393cc;"><u>Logo</u></h6>
      <h6 class="text-dark sample-logo-1" (click)="onClickSample('logo', 1)" (mouseover)="logoBorder(1)"><b>1888 mills white:</b> https://images.americanhotel.com/images/logos/suppliers/1888-mills-logo-white.svg</h6>
      <h6 class="text-dark sample-logo-2" (click)="onClickSample('logo', 2)" (mouseover)="logoBorder(2)"><b>Hunter:</b> https://images.americanhotel.com/images/logos/suppliers/hunter-logo.svg</h6>
      <h6 class="text-dark sample-logo-3" (click)="onClickSample('logo', 3)" (mouseover)="logoBorder(3)"><b>1888 mills gold:</b> https://images.americanhotel.com/images/logos/suppliers/1888-mills-logo.png</h6>
      <h6 class="text-dark sample-logo-4" (click)="onClickSample('logo', 4)" (mouseover)="logoBorder(4)"><b>RegistryNoTag:</b> https://images.americanhotel.com/images/emails/logos/RegistryNoTag.png</h6>
      <h6 class="text-dark sample-logo-5" (click)="onClickSample('logo', 5)" (mouseover)="logoBorder(5)"><b>GE:</b> https://images.americanhotel.com/images/logos/suppliers/GE bw.svg</h6>
      <h6 class="text-dark sample-logo-6" (click)="onClickSample('logo', 6)" (mouseover)="logoBorder(6)"><b>Forbes:</b> https://images.americanhotel.com/images/logos/suppliers/ForbesLogo.svg</h6>            
      <h6 class="text-dark sample-logo-7" (click)="onClickSample('logo', 7)" (mouseover)="logoBorder(7)"><b>1888 aura:</b> https://images.americanhotel.com/images/logos/suppliers/1888-aura-logo-white.svg</h6>
    </div>
  </div>

  <input class="form-control ad-field mb-2" type="text" [(ngModel)]="d1Data.logoURL" placeholder="URL" />
  
  <!-- Button plus/minus -->
  <div class="plus-minus-logoWidth">
    <label for="plus-minus-logoWidth" id="logo-width-label"><h6 class="text-primary">Width:</h6></label>
    <span class="input-group-btn">
      <button type="button" class="btn btn-primary btn-sm btn-number" (click)="minusLogo($event)">
        <span><i class="fas fa-minus"></i></span>
      </button>
    </span>
    <input class="input-number input-logo-width" type="text" [(ngModel)]="d1Data.logoWidth"/>
    <span class="input-group-btn">
      <button type="button" class="btn btn-primary btn-sm btn-number" (click)="plusLogo($event)">
        <span><i class="fas fa-plus"></i></span>
      </button>
    </span>
  </div>

  <!-- White background logo -->
  <mat-checkbox (change)="addWhiteBgLogo()" [checked]="d1Data.whiteBGLogo">White background under logo</mat-checkbox>
</div>
  
<!-- Headline -->
<div class="headline-form mb-3">
  <label for="headline"><h5 class="text-primary">Headline</h5></label>
  <div class="headline-color">
    <mat-radio-group [(ngModel)]="d1Data.txtColor[0].color" (change)="changeColor($event)">
      <mat-radio-button *ngFor="let color of listofColor" [value]="color">{{color | titlecase}}</mat-radio-button>
    </mat-radio-group>
  </div>
  <textarea class="form-control ad-field" type="text" [(ngModel)]="d1Data.headline" rows="2" placeholder="Text"></textarea>
</div>

<!-- Subline -->
<div class="subheadline-form mb-3">
  <label for="subheadline"><h5 class="text-primary">Sub-Headline</h5></label><br>
  <div class="subheadline-color">
    <mat-radio-group class="select-color-subline" [(ngModel)]="d1Data.txtColor[1].color" (change)="changeColor($event)">
      <mat-radio-button *ngFor="let color of listofColor" [value]="color">{{color | titlecase}}</mat-radio-button>
    </mat-radio-group>
  </div>
  <textarea class="form-control ad-field" type="text" [(ngModel)]="d1Data.subline" rows="2" placeholder="Text"></textarea>
</div>

<!-- Button Link -->
<div class="button-form mb-3">
  <div class="button-link-form mb-3">
    <label for="linkOption"><h5 class="text-primary">Button Link</h5></label> 
    <input [disabled]="disabledButton" class="form-control ad-field" type="text" [(ngModel)]="d1Data.buttonURL" placeholder="URL" />
  </div>
          
  <!-- Button options -->
  <label for="Button"><h5 class="text-primary">Button</h5></label><br>
  <div class="button-options-form">
    <select class="custom-select mb-1" style="width:300px" [(ngModel)]="d1Data.buttonType" (change)="changeButton($event.target.value)">
      <option value="" disabled selected>Select button</option>
      <option value="none">None</option>
      <option *ngFor="let option of buttonOptions" [ngValue]="option.type">{{option.name}}</option>
    </select>
  </div>
  <!-- <mat-checkbox (change)="disabledButton=!disabledButton" [checked]="disabledButton">No button</mat-checkbox> -->
  
  <!-- Button text -->
  <input [disabled]="disabledButton" class="form-control" style="width:300px" type="text" [(ngModel)]="d1Data.buttonTxt" placeholder="Text" /> 
</div>