

<!-- Custom Headline? -->
<div class="headline-form mb-3">
  <label for="CalloutBar"><h5 class="text-primary mr-3">Custom Headline?</h5></label>
  <mat-radio-group [(ngModel)]="clpDFeaturedData.data.parameterValues['DE:Custom headline?']" (change)="onChangeHeadline()">

    <mat-radio-button value="No">No</mat-radio-button>
    <mat-radio-button value="Yes">Yes</mat-radio-button>
  </mat-radio-group>
  <!-- Custom Headline Conditional Input -->
<div *ngIf="clpDFeaturedData.data.parameterValues['DE:Custom headline?']=='Yes'">
    <textarea class="form-control ad-field" type="text" [(ngModel)]="clpDFeaturedData.data.parameterValues['DE:Custom Headline']" rows="2" placeholder="Text"></textarea>
  </div>
</div>



<!-- Headline Color -->
<div class="headline-form mb-3">
  <label for="HeadlineColor"><h5 class="text-primary mr-3">Headline Color</h5></label>
  <mat-radio-group [(ngModel)]="clpDFeaturedData.data.parameterValues['DE:Headline Color']">
    <mat-radio-button value="Red">Red</mat-radio-button>
    <mat-radio-button value="Black">Black</mat-radio-button>
  </mat-radio-group>
</div>

<!-- SKUs -->
<div class="subheadline-form mb-3">
  <label for="subheadline"><h5 class="text-primary">SKUs</h5></label><br>
  <textarea class="form-control ad-field" type="text" [(ngModel)]="clpDFeaturedData.data.parameterValues['DE:SKUs']" rows="2" placeholder="Text">
  </textarea>
</div>
